<div class="footer mt-5">
  <div class="footer-links">
    <a href="https://www.instagram.com/explore/tags/inflatables/"><i class="fab fa-instagram"></i> Follow us</a>
    <a href="https://www.facebook.com/inflatabledeals/"><i class="fab fa-facebook"></i> Like us</a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by balloon animals.
  </div>
</div>
