<%# <h1>Landing Page</h1> %>

<div id="myMenu">
  <div class="FrontPageLogo">
    <nav>
    <a href="/inflatables"><img src="https://vignette.wikia.nocookie.net/disney/images/7/71/Rex_1.png/revision/latest?cb=20160531222519" height="300"/></a>
    </nav>
  </div>
</div>
