.inflatable {
  height: 300px;
  overflow: hidden;
}

.inflatable-img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%
}

.card-style {
  border-style: none;
  a {
    text-decoration: none;
  }

  &:hover {
    border: 1px #000000 solid;

  }

}
.card {
  border: 1px #ffffff solid
}

.card-title {
  font-size: 16px;
  color: #121212;
  text-decoration: none;

}

.card-subtitle {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 8px;
  padding-top: 8px;
  color: #cbcbcb;
  text-decoration: none;
}

.card-price {
  font-size: 16px;
  color: #3050de;
  text-decoration: none;

}

.card-body {
  position: relative;
}

.price-label {
  min-width: 56px;
  height: 28px;
  background-color: white;
  position: absolute;
  top: -28px;
  left: 0px;
  padding: 6px;
}

// .i {
//   background-color: none;

// }
