.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  color: white;

  &:hover {
    color: #3050de;

  }
}

.nav-link {
  color: white;
}

.navbar-item {
  color: white;

  &:hover {
    text-decoration: underline;

  }
}

.container-fluid a li {
  color: white;
}
